#about h1 span{
    display: inline-block;
    background-color: skyblue;
    height: 50%;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0px;
    z-index: -1;
}
#about h1{
    position: relative;
    width: fit-content;
}


#about p span{
    font-size: 2rem;
    display: inline-block;
    animation: salute 4s 200ms infinite;
    transform-origin: 70% 70% ;
}

#about > img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top center;
    margin: 0 auto;
    display: block;
}

#about p{
    margin-bottom: 15px;
}

#about h2{
    margin-top: 30px;
}

@keyframes salute{
    from {
        transform: rotate(0deg);
    }
    8% {
        transform: rotate(15deg);        
    }
    16% {
        transform: rotate(-15deg);        
    }
    25% {
        transform: rotate(10deg);        
    }    
    35% {
        transform: rotate(-8deg);
    }
    43% {
        transform: rotate(7deg);        
    }
    50%{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(0deg);
    }
}

@media (min-width:500px) {
    #about {
        display: grid;
    }
    #about > img{
        grid-column: 2;
        grid-row: 2/8;
        width: 180px;
        height: 180px;
        margin-left: 50px;
    }
    #about h1 {
        grid-column: 1/3;
    }
}