#about{
    max-width: 1000px;
    margin: 0 auto;
}

#about span{
    font-size: 2rem;
    display: inline-block;
    animation: salute 5s 200ms infinite;
    transform-origin: 70% 70% ;
}

#about > img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top center;
    margin: 0 auto;
    display: block;
}

#about p{
    margin-bottom: 15px;
}

@keyframes salute{
    from {
        transform: rotate(0deg);
    }
    5% {
        transform: rotate(15deg);        
    }
    10% {
        transform: rotate(-15deg);        
    }
    15% {
        transform: rotate(10deg);        
    }    
    20% {
        transform: rotate(-8deg);
    }
    25% {
        transform: rotate(7deg);        
    }
    30%{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(0deg);
    }
}

@media (min-width:500px) {
    #about {
        display: grid;
        /* grid-template-areas: ; */
    }
    #about img{
        grid-column: 2;
        grid-row: 2/6;
        width: 180px;
        height: 180px;
        margin-left: 50px;
    }
    #about h1 {
        grid-column: 1/3;
    }
}