#contact img{
    height: 38px;
    width: auto;
    transition: transform 300ms ease-in;
}

#contact a img:hover {
    transform: scale(1.2) rotate(360deg);
}

#contact a:hover{
    background-color: transparent;
}

#contact p{
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

#contact p:first-of-type{
    display: block;
}

#contact {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#contact > div{
    width: fit-content;
    margin: 0 auto;
    margin-top: 30px;
}

#contact > div a + a{
    margin-left: 10px;
}

#contact h1 span{
    display: inline-block;
    background-color: skyblue;
    height: 50%;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0px;
    z-index: -1;
}
#contact h1{
    position: relative;
    width: fit-content;
}
