.card a img{
    height: 20px;
    width: auto;
}

.card a {
    display: flex;
    align-items: center;
    border: solid 2px black;
    border-radius: 20px;
    padding: 5px 10px;
}

.card div {
    display: flex;
    gap: 20px;
}

.card > picture img{
    width: 190px;
    display: block;
    height: 190px;
    object-fit: cover;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 8px;
    overflow: hidden;
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

.card p:first-of-type {
    text-align: center;
    flex: 1;
    padding: 0 8px;
}

@media (min-width:300px) {
    .card > picture img{
        width: 100%;
        height: auto;
    }    
}