.skills > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
}

.skills img{
    width: 60px;
    height: auto;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}